* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: "Gilroy-Medium";
    src: url("./fonts/GilroyMedium.eot");
    src: url("./fonts/GilroyMedium.eot?#iefix")format("embedded-opentype"),
        url("./fonts/GilroyMedium.woff") format("woff"),
        url("./fonts/GilroyMedium.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
}

@font-face {
    font-family: "Gilroy-SemiBold";
    src: url("./fonts/GilroySemiBold.eot");
    src: url("./fonts/GilroySemiBold.eot?#iefix")format("embedded-opentype"),
        url("./fonts/GilroySemiBold.woff") format("woff"),
        url("./fonts/GilroySemiBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 600;
}

@font-face {
    font-family: "Gilroy-Bold";
    src: url("./fonts/GilroyBold.eot");
    src: url("./fonts/GilroyBold.eot?#iefix")format("embedded-opentype"),
        url("./fonts/GilroyBold.woff") format("woff"),
        url("./fonts/GilroyBold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
}

.center {
    padding-left: calc(50% - 573px);
    padding-right: calc(50% - 573px);
}

a {
    text-decoration: none;
}

.header {
    padding-top: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-content: space-between;
}

.nav {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.nav_link {
    color: #000;
    font-family: "Gilroy-Medium";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.active-link {
    color: #F25822;
    font-family: "Gilroy-SemiBold";
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.top {
    padding-top: 44px;
    padding-bottom: 150px;
    display: flex;
    gap: 40px;
}

.title1 {
    color: #000;
    font-family: "Gilroy-Bold";
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 17px;
}

.paragraph {
    color: #888;
    font-family: "Gilroy-Medium";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 23px;
}

.top_content_buttons {
    padding-top: 14px;
    padding-bottom: 14px;
    display: flex;
    align-items: center;
    gap: 72px;
}

.textbutton {
    color: #AAA;
    font-family: "Gilroy-Bold";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.btn {
    padding: 16px 36px;
    color: #FFF;
    font-family: "Gilroy-Bold";
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 50px;
    background: #F25822;
    box-shadow: 4px 4px 8px 0px rgba(242, 88, 34, 0.20);
}

.partners {
    padding-top: 96px;
    padding-bottom: 96px;
    display: flex;
    justify-content: space-between;
}